*.sh
*.db
*.db-shm
*.db-wal
*.log
*.log.*
/.HA_VERSION
/.cloud
/.ps4-games.F8461CA1BD7C_af95.json
/.storage
/.vscode
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/secrets.yaml
/zigbee2mqtt_bak
/tts
/custom_components
/zigbee2mqtt/state.json

/includes/packages/telegramm.yaml
www/community/lovelace-mushroom/mushroom.js
www/community/lovelace-mushroom/mushroom.js.gz
www/community/vertical-stack-in-card/vertical-stack-in-card.js
www/community/vertical-stack-in-card/vertical-stack-in-card.js.gz
zigbee2mqtt/.configuration.yaml.bk
zigbee2mqtt/configuration.yaml
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/devices.yaml
zigbee2mqtt/groups.yaml
zigbee2mqtt/log/2022-10-14.22-52-48/log.txt
zigbee2mqtt/log/2022-10-14.22-59-14/log.txt
zigbee2mqtt/log/2022-10-14.23-48-03/log.txt
zigbee2mqtt/log/2022-10-14.23-48-58/log.txt
zigbee2mqtt/log/2022-10-14.23-54-45/log.txt
zigbee2mqtt/log/2022-10-20.02-21-20/log.txt
zigbee2mqtt/log/2022-10-20.02-21-40/log.txt
zigbee2mqtt/log/2022-10-20.10-19-05/log.txt
zigbee2mqtt/log/2022-10-20.14-24-20/log.txt
zigbee2mqtt/log/2022-11-03.22-48-36/log.txt
