*.sh
*.db
*.db-shm
*.db-wal
*.log
*.log.*
/.HA_VERSION
/.cloud
/.ps4-games.F8461CA1BD7C_af95.json
/.storage
/.vscode
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/secrets.yaml
/zigbee2mqtt_bak
/tts
/custom_components
/zigbee2mqtt/state.json

/includes/packages/telegramm.yaml
